<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-list>
      <div *ngFor="let item of iqArray">
        <mat-list-item>
          {{ item.question }}
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon> View Questions
    </button>
    <section class="iq-list">
      <app-iq
        *ngIf="currentIQ"
        [question]="currentIQ.question"
        [answer]="currentIQ.answer"
      >
      </app-iq>
    </section>
  </div>
</mat-drawer-container>
