<div class="container content">
  <!-- container centers content on large screens -->
  <div class="row">
    <!-- responsive row has 12 columns by default -->
    <div class="col-md-5 card">
      <!-- uses 6 columns on medium and larger screens... -->
      <h4>Angular Interview Questions</h4>
      <mat-divider></mat-divider>
      <button mat-button (click)="onItemClick($event, 'VVDkNu9BJd8WwdASz1CR')">
        Angular Interview Questions Part 1
      </button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 card">
      <!-- uses 12 columns on smaller than medium screens -->
      <h4>Java Interview Questions</h4>
      <mat-divider></mat-divider>
      <button mat-button (click)="onItemClick($event, 'J2DG8mEX6R3Wlm6hmE8V')">
        Java Interview Questions Part 1
      </button>
    </div>
  </div>
</div>
