@import '../../styles-variables';

.welcome {
  text-align: center;
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
}

.sub-title {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

.card {
  background: white;
  text-align: center;
}

.container {
  padding: 1rem;
}

button {
  min-width: 100%;
  display: block;
  white-space: normal;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.buttons-box {
  padding: 1rem 0;
}
