<div
  class="welcome"
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1 class="title">Angular Interview Questions</h1>
    <mat-card-actions>
      <button type="submit" mat-stroked-button>
        Angular 2 Interview Questions
      </button>
    </mat-card-actions>
  </section>
  <section>
    <h1 class="title">React Interview Questions</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1 class="title">Scaling</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div>
